[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.8"
